beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.10
colorama==0.4.4
commonmark==0.9.1
html2text==2020.1.16
idna==3.3
langdetect==1.0.9
Pygments==2.11.2
PySocks==1.7.1
requests==2.27.1
rich==11.0.0
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.8
